@import url("https://fonts.googleapis.com/css2?family=Teko:wght@300&display=swap");

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  text-decoration: none;
  list-style: none;
  transition: color 0.2s, background-color 0.3s;
  scroll-behavior: smooth;

  /* outline: 1px solid red; */
}
:root {
  --dark: hsl(0, 0%, 3%);
  --light: hsl(0, 0%, 95%);
}

a {
  color: inherit;
}

h1 {
  font-size: clamp(1.6rem, 5vw, 2.7rem);
}

p,
span,
a,
button {
  font-size: x-large;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Teko", sans-serif;
}

body {
  --color: var(--light);
  --background: var(--dark);
  background-color: var(--background);

  color: var(--color);
  font-size: larger;
}

.light {
  --color: var(--dark);
  --background: var(--light);
  background-color: var(--background);
  color: var(--color);
}

#root {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10vh 5vw;
  gap: 3vw;
  min-height: 100vh;
  min-height: 100dvh;
  /* max-width: 100%; */
}

@media (max-width: 768px) {
  #root {
    padding: 1vw;
  }
}

#container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5vh;
  box-sizing: border-box;
}

@media (max-width: 768px) {
  #container {
    box-sizing: border-box;
    /* padding: 0 5vw; */
  }
}

/* aside */
aside {
  align-self: flex-start;
  flex: none;
  position: sticky;
  top: 10vh;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

aside a {
  outline: 1px solid var(--color);
  width: 15vw;
  height: 7vh;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s;
}

aside a.active {
  background-color: var(--color);
  color: var(--background);
}

/*  */

#progressBar {
  position: fixed;
  top: 0;
  height: 5px;
  width: 100%;
  background-color: var(--color);
  z-index: 1;
}

/* toggle dark mode */
#toggleDarkMode {
  position: fixed;
  top: 0;
  right: 0;
  margin: 2vh;
  border: none;
  color: inherit;
  outline: none;
  background-color: inherit;
}

svg {
  height: 3vh;
  width: 3vh;
}

/* cursor
 */

/* #cursor {
  position: fixed;
  z-index: 100;
  height: 3vh;
  width: 3vh;
  background-color: rgba(60, 179, 113, 0.5);
  border-radius: 50%;
} */

#cursor {
  display: none;
}

/* section */

section {
  padding: 2vw 0;
  width: 100%;
  box-sizing: border-box;
}

/* section 2 the one for skills */

#section2 > div {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  min-height: 90vh;
  min-height: 90dvh;
  border: 3px solid inherit;
}

#section2 > div div {
  outline: 1px solid;
  outline-color: inherit;
  display: flex;
  /* align-items: center;
  justify-content: center; */
  font-size: x-large;
  transition: all 0.5s;
}

/* #section2 > div div:hover {
  background-color: var(--color);
  color: var(--background);
} */

#section2 > div div:nth-child(1) {
  grid-column: span 2;
  grid-row: span 2;
}

#section2 > div div:nth-child(2) {
  grid-column: span 2;
}

#section2 > div div:nth-child(4) {
  grid-row: span 3;
}

#section2 > div div:nth-child(6) {
  grid-column: span 2;
}

#section2 > div div:nth-child(7) {
  grid-column: span 2;
  grid-row: span 2;
}

#section2 > div div:nth-child(9) {
  grid-column: span 2;
  /* grid-row: span 3; */
}

#section2 > div div:nth-child(13) {
  grid-row: span 2;
}

#section2 > div div:nth-child(14) {
  grid-column: span 2;
}

#section2 > div div:nth-child(15) {
  grid-row: span 2;
}

#section2 > div div:nth-child(19) {
  grid-column: span 2;
}

#section2 > div div:nth-child(20) {
  grid-column: span 2;
}

#section2 > div div {
  display: flex;
  /* align-items: center;
  justify-content: center; */
  overflow: hidden;
  height: 100%;
}

#section2 > div div span {
  height: 100%;
  width: 100%;
  flex: none;
  transition: width 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
}

#section2 > div div span:nth-child(1) {
  height: 100%;
  width: 100%;
  flex: none;
  transition: width 0.5s;
}

#section2 > div div span:nth-child(2) {
  color: var(--background);
  background-color: var(--color);
  width: 100%;
  height: 100%;
  flex: none;
  font-size: medium;
}

#section2 > div div:hover span:nth-child(1) {
  width: 0;
}

/*  */

@media (max-width: 1000px) {
  aside {
    display: none;
  }

  #cursor {
    display: none;
  }
}

.carousel {
  position: relative;
  z-index: 0;

  width: 100%;
  display: flex;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  /* scrollbar-base-color: transparent; */
}

.carousel__card {
  position: relative;
  z-index: -1;
  flex: 0 0 auto;
  margin-right: 5vw;
  width: 100%; /* Adjust as needed */
  height: 90vh;
  scroll-snap-align: start;
  border: 1px solid var(--color);

  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 10px;
}

.carousel__card h1 {
  margin: 0;
}

.carousel__card img {
  object-fit: cover;
  height: 40%;
  width: 100%;
  border-bottom: 1px solid var(--color);

  transition: filter 0.5s;
  filter: grayscale(90%) blur(3px);
}

.carousel__card img:hover {
  filter: grayscale(0%) blur(0px);
}

.carousel__card p {
  width: 70%;
}

@media (max-width: 768px) {
  .carousel__card .actions {
    flex-direction: column;
    gap: 10px;
  }
}

.carousel__card .actions {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

.carousel__card button {
  border: 1px solid var(--color);
  background-color: inherit;
  padding: 0.5rem 1rem;
  color: inherit;
  font-size: large;
  font-size: inherit;
  /* box-sizing: border-box; */
}

.carousel__card button:hover {
  background-color: var(--color);
  color: var(--background);
}

.drawer {
  width: 100%;
}

.drawer__item {
  position: relative;
  width: 100%;
  margin-bottom: 20px;
  height: 100px;
  border: 1px solid var(--color);
  text-align: center;
  line-height: 50px;
  cursor: pointer;
  overflow: hidden;

  text-align: center;
}

.drawer a {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.drawer__content:nth-child(2) a {
  text-decoration: underline;
}

.drawer__content {
  position: absolute;
  bottom: -100px;
  left: 0;
  height: 100px;
  width: 100%;
  background: #f5f5f5;
  transition: bottom 0.3s ease-in-out;
  line-height: 50px;
  color: var(--background);
}

.drawer__item:hover .drawer__content {
  bottom: 0;
}

footer {
  color: var(--color);
  padding: 20px;
  text-align: center;
}

.footer-container {
  max-width: 960px;
  margin: 0 auto;
}

.footer-container ul {
  list-style-type: none;
  padding: 0;
}

.footer-container ul li {
  display: inline;
  margin: 0 10px;
}

.footer-container ul li a {
  color: white;
  text-decoration: none;
  font-size: larger;
}

.footer-container ul li a:hover {
  text-decoration: underline;
}

.footer-container p {
  margin-top: 20px;
}

/* CSS for larger screens */

/* CSS for smaller screens */
@media (max-width: 1000px) {
  section {
    max-width: 100%;
    padding: 0 2vw;
  }
}

.carousel_buttons {
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2vh;
}

.carousel__card {
  /* Add the transition effect */
  transition: opacity 0.5s, filter 0.5s;
}

.carousel__card.hidden {
  opacity: 0.5;
  filter: blur(5px);
}

.contacts{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  gap: 2vw;
}

.contacts a svg {
  width: 5vh;
  height: 5vh;
  stroke: var(--color);
  fill: var(--color);
}
